<center><img src="img/def.jpg" style="width:950px;"></center>


# AN√ÅLISIS DE DATOS

In [1]:
#Nota: Notebook realizado en Python 3

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

%matplotlib inline

In [2]:
datos = pd.read_csv("Datos/datos")
print (datos.shape)
datos.head()

(494856, 16)

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,1,4,2,1,1,0,1,15,180,0,63,69,54,57,65.0,305
1,1,13,1,1,1,0,2,45,45,0,54,50,50,40,48.0,242
2,1,31,2,0,0,0,2,15,45,1,59,43,46,45,47.0,241
3,1,6,3,1,1,1,1,15,180,0,61,60,60,67,63.0,310
4,1,15,2,1,1,0,1,15,120,0,56,51,48,49,56.0,257

## Cantidad total de hombres y mujeres que presentaron la prueba

In [3]:
for i in np.unique(datos['ESTU_GENERO']):
    print (i, np.sum(datos['ESTU_GENERO']==i))

0 267840
1 227016

<center><img src="img/hombres y mujeres.png" style="width:350px;"></center>

## Cantidad total de estudiantes por departamento

In [4]:
lista = {i: np.sum(datos['ESTU_DEPTO_RESIDE']==i) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}
dt = pd.DataFrame.from_dict(lista, orient='Index')

<center><img src="img/frecuencia.png" style="width:950px;"></center>

## Cuantificando si tiene servicio de internet

In [5]:
for i in np.unique(datos['FAMI_TIENEINTERNET']):
    print (i, np.sum(datos['FAMI_TIENEINTERNET']==i))

0 203976
1 290880

<center><img src="img/servicio internet.png" style="width:350px;"></center>

## Cuantificando si tienen computador

In [6]:
for i in np.unique(datos['FAMI_TIENECOMPUTADOR']):
    print (i, np.sum(datos['FAMI_TIENECOMPUTADOR']==i))

0 205840
1 289016

<center><img src="img/tiene computador.png" style="width:350px;"></center>

## Cuantificando la dedicaci√≥n media a navegar por internet (en minutos)

In [7]:
for i in np.unique(datos['ESTU_DEDICACIONINTERNET']):
    print (i, np.sum(datos['ESTU_DEDICACIONINTERNET']==i))

0 31263
15 93078
45 129677
120 144809
180 96029

<center><img src="img/minutos internet.png" style="width:350px;"></center>

## Cuantificando la dedicaci√≥n media dedicaci√≥n lectura diaria (en minutos)

In [8]:
for i in np.unique(datos['ESTU_DEDICACIONLECTURADIARIA']):
    print (i, np.sum(datos['ESTU_DEDICACIONLECTURADIARIA']==i))

0 88708
15 193195
45 137200
90 55526
120 20227

<center><img src="img/lectura diaria.png" style="width:350px;"></center>

## Cuantificando la cantidad de estudiantes que viven en zonas rurales o urbanas

In [9]:
for i in np.unique(datos['COLE_AREA_UBICACION']):
    print (i, np.sum(datos['COLE_AREA_UBICACION']==i))

0 420189
1 74667

<center><img src="img/rural urbano.png" style="width:350px;"></center>

## Cuantificando la cantidad de estudiantes que viven en los diferentes estratos sociales

In [10]:
for i in np.unique(datos['FAMI_ESTRATOVIVIENDA']):
    print (i, np.sum(datos['FAMI_ESTRATOVIVIENDA']==i))

0 13820
1 164238
2 182769
3 100969
4 22718
5 7092
6 3250

<center><img src="img/estratos.png" style="width:350px;"></center>

## Calculando el Factor Social para cada estudiante

In [11]:
media = np.mean(datos.values[:, 2:9], axis=1)
media = np.reshape(media, (494856,1))
datos = np.concatenate((datos,media), axis=1)

In [12]:
datos = pd.DataFrame(data=datos)
datos.columns = ['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV' ,'FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA','ESTU_DEDICACIONLECTURADIARIA','ESTU_DEDICACIONINTERNET', 'COLE_AREA_UBICACION', 'PUNT_LECTURA_CRITICA','PUNT_MATEMATICAS','PUNT_C_NATURALES','PUNT_SOCIALES_CIUDADANAS','PUNT_INGLES','PUNT_GLOBAL', 'FACTOR_SOCIAL']

datos.head()

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL,FACTOR_SOCIAL
0,1.0,4.0,2.0,1.0,1.0,0.0,1.0,15.0,180.0,0.0,63.0,69.0,54.0,57.0,65.0,305.0,28.571429
1,1.0,13.0,1.0,1.0,1.0,0.0,2.0,45.0,45.0,0.0,54.0,50.0,50.0,40.0,48.0,242.0,13.571429
2,1.0,31.0,2.0,0.0,0.0,0.0,2.0,15.0,45.0,1.0,59.0,43.0,46.0,45.0,47.0,241.0,9.142857
3,1.0,6.0,3.0,1.0,1.0,1.0,1.0,15.0,180.0,0.0,61.0,60.0,60.0,67.0,63.0,310.0,28.857143
4,1.0,15.0,2.0,1.0,1.0,0.0,1.0,15.0,120.0,0.0,56.0,51.0,48.0,49.0,56.0,257.0,20.000000

## El rango del puntaje del factor social (media entre los diferentes valores sociales)  $[0 - 44.4285]$

In [13]:
np.amax(datos)

ESTU_GENERO                       1.000000
ESTU_DEPTO_RESIDE                33.000000
FAMI_ESTRATOVIVIENDA              6.000000
FAMI_TIENEINTERNET                1.000000
FAMI_TIENESERVICIOTV              1.000000
FAMI_TIENECOMPUTADOR              1.000000
FAMI_SITUACIONECONOMICA           2.000000
ESTU_DEDICACIONLECTURADIARIA    120.000000
ESTU_DEDICACIONINTERNET         180.000000
COLE_AREA_UBICACION               1.000000
PUNT_LECTURA_CRITICA            100.000000
PUNT_MATEMATICAS                100.000000
PUNT_C_NATURALES                100.000000
PUNT_SOCIALES_CIUDADANAS        100.000000
PUNT_INGLES                     100.000000
PUNT_GLOBAL                     478.000000
FACTOR_SOCIAL                    44.428571
dtype: float64

## ¬øQu√© hay de los estudiantes con el factor social m√°s alto?

In [19]:
alto = datos.loc[datos['FACTOR_SOCIAL']>40] 
print ("Cantidad de estudiantes", alto.shape)
print ("Media Punt Global de estudiantes con factor social alto :", np.mean(alto['PUNT_GLOBAL']) , "Desv Est", np.std(alto['PUNT_GLOBAL']))
relacion = (6167.00/494856.0)*100
print (relacion , " % de la poblaci√≥n total")

Cantidad de estudiantes (6167, 17)
Media Punt Global de estudiantes con factor social alto : 278.50251337765525 Desv Est 49.907785422057884
1.246221122912524  % de la poblaci√≥n total

<center><img src="img/factor social.png" style="width:350px;"></center>

## ¬øQu√© hay de los estudiantes con el factor social m√°s bajos?

In [20]:
bajo = datos.loc[datos['FACTOR_SOCIAL']<10]
print (bajo.shape)
print ("Media de punt global de los estudiantes con factor social bajo: ", np.mean(bajo['PUNT_GLOBAL']), np.std(bajo['PUNT_GLOBAL']))
relacion2 = (187580.0/494856)*100
print (relacion2 , " % de la muestra total ")

(187580, 17)
Media de punt global de los estudiantes con factor social bajo:  238.09107047659666 45.18737035163109
37.90597668816787  % de la muestra total

<center><img src="img/factor social bajo.png" style="width:350px;"></center>

## ¬øEl impacto del Internet es de relevancia para el puntaje global?

In [21]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

internet = datos.loc[datos['FAMI_TIENEINTERNET']==1][:203976]
nInternet = datos.loc[datos['FAMI_TIENEINTERNET']==0][:203976]

print ("Media Punt Global Si",np.mean(internet['PUNT_GLOBAL']), "Desv Est: ",np.std(internet['PUNT_GLOBAL']))
print ("Media Punt Global No",np.mean(nInternet['PUNT_GLOBAL']),"Desv Est: " ,np.std(nInternet['PUNT_GLOBAL']))

Media Punt Global Si 264.98508648076245 Desv Est:  50.03219982470764
Media Punt Global No 236.04294132643057 Desv Est:  43.66681008681045

## ¬øLa situaci√≥n econ√≥mica puede influir positiva o negativamente?

In [22]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

mejor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==2][:68678]
regular = datos.loc[datos['FAMI_SITUACIONECONOMICA']==1][:68678]
peor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==0][:68678]

print ("Media Punt Global Mejor",np.mean(mejor['PUNT_GLOBAL']), "Desv Est: ",np.std(mejor['PUNT_GLOBAL']))
print ("Media Punt Global Regular",np.mean(regular['PUNT_GLOBAL']), "Desv Est: ",np.std(regular['PUNT_GLOBAL']))
print ("Media Punt Global Peor",np.mean(peor['PUNT_GLOBAL']), "Desv Est: ",np.std(peor['PUNT_GLOBAL']))

Media Punt Global Mejor 245.98916683654153 Desv Est:  50.281111383071845
Media Punt Global Regular 255.7744547016512 Desv Est:  48.907021078629334
Media Punt Global Peor 261.94603803255774 Desv Est:  50.01625875275216

## Los departamentos y sus puntajes medios globales

In [23]:
dic = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_GLOBAL']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

mDepar = pd.DataFrame.from_dict(dic, orient='Index')

<center><img src="img/global.png" style="width:400px;"></center>

## Los departamentos y sus puntajes medios de factor social

In [24]:
fac = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['FACTOR_SOCIAL']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicFac = pd.DataFrame.from_dict(fac, orient='Index')

dicFac.columns = ['FACTOR_SOCIAL']

<center><img src="img/media.png" style="width:500px;"></center>

## Los departamentos con Factor Social m√°s bajo

In [25]:
dicFac.loc[dicFac['FACTOR_SOCIAL']<=14.5]

      FACTOR_SOCIAL
1.0       13.288519
3.0       13.681991
10.0      13.499767
16.0      12.686397
22.0      14.255645
24.0      12.751980
32.0      11.335404
33.0      13.058271

<center><img src="img/Peores_.png" style="width:450px;"></center>

## Los departamentos con Factor Social m√°s alto

In [26]:
dicFac.loc[dicFac['FACTOR_SOCIAL']>=17.5]

      FACTOR_SOCIAL
2.0       18.687555
4.0       19.191311
15.0      20.111998
25.0      18.427961
26.0      18.807600
27.0      18.009257
31.0      18.577128

<center><img src="img/Mejores_.png" style="width:450px;"></center>

## Puntaje medio de Matem√°ticas por departamento

In [27]:
mat = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_MATEMATICAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicMat = pd.DataFrame.from_dict(mat, orient='Index')

<center><img src="img/matematica.png" style="width:450px;"></center>

## Puntaje medio de Lectura Cr√≠tica por Departamento

In [28]:
lec = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_LECTURA_CRITICA']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicLec = pd.DataFrame.from_dict(lec, orient='Index')

<center><img src="img/lectura.png" style="width:450px;"></center>

## Puntaje Medio de Sociales Ciudadanas por Departamento

In [29]:
soc = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_SOCIALES_CIUDADANAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicSoc = pd.DataFrame.from_dict(soc, orient='Index')

<center><img src="img/sociales.png" style="width:450px;"></center>

## Puntaje Medio de Ingl√©s por Departamentos

In [30]:
ing = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_SOCIALES_CIUDADANAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicIng = pd.DataFrame.from_dict(ing, orient='Index')

<center><img src="img/ingles.png" style="width:450px;"></center>

## Los factores sociales  m√°s relevantes

In [31]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import KFold
from sklearn.metrics import *


regresor = ExtraTreesRegressor(n_estimators=300)
regresor = regresor.fit(datos.values[:,2:9][:71000], datos.values[:, 10:16][:71000]) # ---> No se pudo realizar con toda la muestra

## No se considera el g√©nero ni el departamento como factor social influyente

In [32]:
relevante = regresor.feature_importances_
# Print the feature ranking
print("Feature ranking:", relevante*100)

Feature ranking: [19.54637953 31.72768332  4.0343285   7.49784489  9.33858817 15.39955349
 12.45562209]

## Las caracter√≠sticas m√°s relevantes que definen el Puntaje Global

In [34]:
caracMas = 19.54637953+31.72768332+15.39955349+12.45562209
print(caracMas, "%")

79.12923843 %

## Las caracter√≠sticas como :
- Estrato
- Serevicio Internet
- Dedicaci√≥n Lectura diaria
- Dedicaci√≥n a navegar por internet

### La importancia de estas caracter√≠sticas en el puntaje global constituye el 75.657%

## Considerando el departamento, g√©nero y zona de escolaridad (urbana o rural)

In [35]:
regresor_ = ExtraTreesRegressor(n_estimators=300)
regresor_ = regresor_.fit(datos.values[:,:10][:71000], datos.values[:, 10:16][:71000])

In [38]:
datos.values[:,:10][:10]

array([[  1.,   4.,   2.,   1.,   1.,   0.,   1.,  15., 180.,   0.],
       [  1.,  13.,   1.,   1.,   1.,   0.,   2.,  45.,  45.,   0.],
       [  1.,  31.,   2.,   0.,   0.,   0.,   2.,  15.,  45.,   1.],
       [  1.,   6.,   3.,   1.,   1.,   1.,   1.,  15., 180.,   0.],
       [  1.,  15.,   2.,   1.,   1.,   0.,   1.,  15., 120.,   0.],
       [  1.,  19.,   0.,   0.,   0.,   0.,   1.,  45.,  15.,   1.],
       [  1.,   4.,   0.,   1.,   1.,   1.,   1.,   0., 120.,   1.],
       [  1.,   7.,   2.,   0.,   1.,   0.,   1.,  15.,  45.,   1.],
       [  1.,   6.,   1.,   0.,   0.,   0.,   1.,  45.,  15.,   1.],
       [  1.,  11.,   2.,   0.,   1.,   0.,   2.,  15.,   0.,   0.]])

In [36]:
relevante_ = regresor_.feature_importances_
# Print the feature ranking
print("Feature ranking:", relevante_*100)

Feature ranking: [ 3.03583724 37.62349115 11.3526084  12.31766269  4.35873721  2.89318305
  4.74231054  8.86050124 12.13735193  2.67831656]

## Nuevas caracter√≠sticas encontradas que influyen en el puntaje global
- Departamento
- Estrato
- Servicio de Internet 
- Dedicaci√≥n a navegar por Internet

In [41]:
b = 37.62349115+11.3526084+12.31766269+12.13735193
print (b, "$%")

73.43111417 $%