<center><img src="img/def.jpg" style="width:950px;"></center>


# AN√ÅLISIS DE DATOS

In [1]:
#Nota: Notebook realizado en Python 3

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

%matplotlib inline

In [2]:
datos = pd.read_csv("Datos/datos")
print (datos.shape)
datos.head()

(494856, 16)

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,1,4,2,1,1,0,1,15,180,0,63,69,54,57,65.0,305
1,1,13,1,1,1,0,2,45,45,0,54,50,50,40,48.0,242
2,1,31,2,0,0,0,2,15,45,1,59,43,46,45,47.0,241
3,1,6,3,1,1,1,1,15,180,0,61,60,60,67,63.0,310
4,1,15,2,1,1,0,1,15,120,0,56,51,48,49,56.0,257

## Cantidad total de hombres y mujeres que presentaron la prueba

In [3]:
for i in np.unique(datos['ESTU_GENERO']):
    print (i, np.sum(datos['ESTU_GENERO']==i))

0 267840
1 227016

<center><img src="img/hombres y mujeres.png" style="width:350px;"></center>

## Cantidad total de estudiantes por departamento

In [4]:
lista = {i: np.sum(datos['ESTU_DEPTO_RESIDE']==i) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}
dt = pd.DataFrame.from_dict(lista, orient='Index')

<center><img src="img/frecuencia.png" style="width:950px;"></center>

## Cuantificando si tiene servicio de internet

In [5]:
for i in np.unique(datos['FAMI_TIENEINTERNET']):
    print (i, np.sum(datos['FAMI_TIENEINTERNET']==i))

0 203976
1 290880

<center><img src="img/servicio internet.png" style="width:350px;"></center>

## Cuantificando si tienen computador

In [6]:
for i in np.unique(datos['FAMI_TIENECOMPUTADOR']):
    print (i, np.sum(datos['FAMI_TIENECOMPUTADOR']==i))

0 205840
1 289016

<center><img src="img/hombres y mujeres.png" style="width:350px;"></center>

## Cuantificando la dedicaci√≥n media a navegar por internet (en minutos)

In [7]:
for i in np.unique(datos['ESTU_DEDICACIONINTERNET']):
    print (i, np.sum(datos['ESTU_DEDICACIONINTERNET']==i))

0 31263
15 93078
45 129677
120 144809
180 96029

<center><img src="img/minutos internet.png" style="width:350px;"></center>

## Cuantificando la dedicaci√≥n media dedicaci√≥n lectura diaria (en minutos)

In [8]:
for i in np.unique(datos['ESTU_DEDICACIONLECTURADIARIA']):
    print (i, np.sum(datos['ESTU_DEDICACIONLECTURADIARIA']==i))

0 88708
15 193195
45 137200
90 55526
120 20227

<center><img src="img/lectura diaria.png" style="width:350px;"></center>

## Cuantificando la cantidad de estudiantes que viven en zonas rurales o urbanas

In [9]:
for i in np.unique(datos['COLE_AREA_UBICACION']):
    print (i, np.sum(datos['COLE_AREA_UBICACION']==i))

0 420189
1 74667

<center><img src="img/rural urbano.png" style="width:350px;"></center>

## Cuantificando la cantidad de estudiantes que viven en los diferentes estratos sociales

In [10]:
for i in np.unique(datos['FAMI_ESTRATOVIVIENDA']):
    print (i, np.sum(datos['FAMI_ESTRATOVIVIENDA']==i))

0 13820
1 164238
2 182769
3 100969
4 22718
5 7092
6 3250

<center><img src="img/estratos.png" style="width:350px;"></center>

## Calculando el Factor Social para cada estudiante

In [11]:
media = np.mean(datos.values[:, 2:9], axis=1)
media = np.reshape(media, (494856,1))
datos = np.concatenate((datos,media), axis=1)

In [12]:
datos = pd.DataFrame(data=datos)
datos.columns = ['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV' ,'FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA','ESTU_DEDICACIONLECTURADIARIA','ESTU_DEDICACIONINTERNET', 'COLE_AREA_UBICACION', 'PUNT_LECTURA_CRITICA','PUNT_MATEMATICAS','PUNT_C_NATURALES','PUNT_SOCIALES_CIUDADANAS','PUNT_INGLES','PUNT_GLOBAL', 'FACTOR_SOCIAL']

datos.head()

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL,FACTOR_SOCIAL
0,1.0,4.0,2.0,1.0,1.0,0.0,1.0,15.0,180.0,0.0,63.0,69.0,54.0,57.0,65.0,305.0,28.571429
1,1.0,13.0,1.0,1.0,1.0,0.0,2.0,45.0,45.0,0.0,54.0,50.0,50.0,40.0,48.0,242.0,13.571429
2,1.0,31.0,2.0,0.0,0.0,0.0,2.0,15.0,45.0,1.0,59.0,43.0,46.0,45.0,47.0,241.0,9.142857
3,1.0,6.0,3.0,1.0,1.0,1.0,1.0,15.0,180.0,0.0,61.0,60.0,60.0,67.0,63.0,310.0,28.857143
4,1.0,15.0,2.0,1.0,1.0,0.0,1.0,15.0,120.0,0.0,56.0,51.0,48.0,49.0,56.0,257.0,20.000000

## El rango del puntaje del factor social (media entre los diferentes valores sociales)  $[0 - 44.4285]$

In [13]:
np.amax(datos)

ESTU_GENERO                       1.000000
ESTU_DEPTO_RESIDE                33.000000
FAMI_ESTRATOVIVIENDA              6.000000
FAMI_TIENEINTERNET                1.000000
FAMI_TIENESERVICIOTV              1.000000
FAMI_TIENECOMPUTADOR              1.000000
FAMI_SITUACIONECONOMICA           2.000000
ESTU_DEDICACIONLECTURADIARIA    120.000000
ESTU_DEDICACIONINTERNET         180.000000
COLE_AREA_UBICACION               1.000000
PUNT_LECTURA_CRITICA            100.000000
PUNT_MATEMATICAS                100.000000
PUNT_C_NATURALES                100.000000
PUNT_SOCIALES_CIUDADANAS        100.000000
PUNT_INGLES                     100.000000
PUNT_GLOBAL                     478.000000
FACTOR_SOCIAL                    44.428571
dtype: float64

## ¬øQu√© hay de los estudiantes con el factor social m√°s alto?

In [14]:
alto = datos.loc[datos['FACTOR_SOCIAL']>40] 
print ("Cantidad de estudiantes", alto.shape)
print ("Media Punt Global de estudiantes con factor social alto :", np.mean(alto['PUNT_GLOBAL']) , "Desv Est", np.std(alto['PUNT_GLOBAL']))
relacion = (6167.00/494856.0)*100
print (relacion , " % de la poblaci√≥n total")

Cantidad de estudiantes (6167, 17)
Media Punt Global de estudiantes con factor social alto : 278.50251337765525 Desv Est 49.907785422057884
1.246221122912524  % de la poblaci√≥n total

<center><img src="img/factor social.png" style="width:350px;"></center>

## ¬øQu√© hay de los estudiantes con el factor social m√°s bajos?

In [15]:
bajo = datos.loc[datos['FACTOR_SOCIAL']<10]
print bajo.shape
print ("Media de punt global de los estudiantes con factor social bajo: ", np.mean(bajo['PUNT_GLOBAL']), np.std(bajo['PUNT_GLOBAL']))
relacion2 = (187580.0/494856)*100
print relacion2 , " % de la muestra total "

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(bajo.shape)? (<ipython-input-15-2168c0b38482>, line 2)

<center><img src="img/factor social bajo.png" style="width:350px;"></center>

## ¬øEl impacto del Internet es de relevancia para el puntaje global?

In [ ]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

internet = datos.loc[datos['FAMI_TIENEINTERNET']==1][:203976]
nInternet = datos.loc[datos['FAMI_TIENEINTERNET']==0][:203976]

print ("Media Punt Global Si",np.mean(internet['PUNT_GLOBAL']), "Desv Est: ",np.std(internet['PUNT_GLOBAL']))
print ("Media Punt Global No",np.mean(nInternet['PUNT_GLOBAL']),"Desv Est: " ,np.std(nInternet['PUNT_GLOBAL']))

## ¬øLa situaci√≥n econ√≥mica puede influir positiva o negativamente?

In [ ]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

mejor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==2][:68678]
regular = datos.loc[datos['FAMI_SITUACIONECONOMICA']==1][:68678]
peor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==0][:68678]

print ("Media Punt Global Mejor",np.mean(mejor['PUNT_GLOBAL']), "Desv Est: ",np.std(mejor['PUNT_GLOBAL']))
print ("Media Punt Global Regular",np.mean(regular['PUNT_GLOBAL']), "Desv Est: ",np.std(regular['PUNT_GLOBAL']))
print ("Media Punt Global Peor",np.mean(peor['PUNT_GLOBAL']), "Desv Est: ",np.std(peor['PUNT_GLOBAL']))

## Los departamentos y sus puntajes medios globales

In [ ]:
dic = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_GLOBAL']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

mDepar = pd.DataFrame.from_dict(dic, orient='Index')

<center><img src="img/global.png" style="width:400px;"></center>

## Los departamentos y sus puntajes medios de factor social

In [ ]:
fac = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['FACTOR_SOCIAL']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicFac = pd.DataFrame.from_dict(fac, orient='Index')

dicFac.columns = ['FACTOR_SOCIAL']

<center><img src="img/media.png" style="width:500px;"></center>

## Los departamentos con Factor Social m√°s bajo

In [ ]:
dicFac.loc[dicFac['FACTOR_SOCIAL']<=14.5]

<center><img src="img/Peores_.png" style="width:450px;"></center>

## Departamentos con mejor factor social

In [ ]:
dicFac.loc[dicFac['FACTOR_SOCIAL']>=17.5]

<center><img src="img/Mejores_.png" style="width:450px;"></center>

## Puntaje medio de Matem√°ticas por departamento

In [ ]:
mat = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_MATEMATICAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicMat = pd.DataFrame.from_dict(mat, orient='Index')

<center><img src="img/matematica.png" style="width:450px;"></center>

## Puntaje medio de Lectura Cr√≠tica por Departamento

In [ ]:
lec = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_LECTURA_CRITICA']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicLec = pd.DataFrame.from_dict(lec, orient='Index')

<center><img src="img/lectura.png" style="width:450px;"></center>

## Puntaje Medio de Sociales Ciudadanas por Departamento

In [ ]:
soc = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_SOCIALES_CIUDADANAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicSoc = pd.DataFrame.from_dict(soc, orient='Index')

<center><img src="img/sociales.png" style="width:450px;"></center>

## Puntaje Medio de Ingl√©s por Departamentos

In [ ]:
ing = {i : np.mean(datos.loc[datos['ESTU_DEPTO_RESIDE']==i]['PUNT_SOCIALES_CIUDADANAS']) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}

dicIng = pd.DataFrame.from_dict(ing, orient='Index')

<center><img src="img/ingles.png" style="width:450px;"></center>

## Los factores sociales  m√°s relevantes

In [24]:
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel
regresor = ExtraTreesRegressor(n_estimators=150)
regresor.fit(datos.values[:,2:10][:70000], datos.values[:, 10:16][:70000])

ExtraTreesRegressor(bootstrap=False, criterion='mse', max_depth=None,
          max_features='auto', max_leaf_nodes=None,
          min_impurity_decrease=0.0, min_impurity_split=None,
          min_samples_leaf=1, min_samples_split=2,
          min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=None,
          oob_score=False, random_state=None, verbose=0, warm_start=False)

## No se considera el g√©nero ni el departamento como factor social influyente

In [25]:
relevante = regresor.feature_importances_
# Print the feature ranking
print("Feature ranking:", relevante)

Feature ranking: [0.18728447 0.28848305 0.04539953 0.06721069 0.08695424 0.14975825
 0.13095147 0.04395829]

In [27]:
datos.head()

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL,FACTOR_SOCIAL
0,1.0,4.0,2.0,1.0,1.0,0.0,1.0,15.0,180.0,0.0,63.0,69.0,54.0,57.0,65.0,305.0,28.571429
1,1.0,13.0,1.0,1.0,1.0,0.0,2.0,45.0,45.0,0.0,54.0,50.0,50.0,40.0,48.0,242.0,13.571429
2,1.0,31.0,2.0,0.0,0.0,0.0,2.0,15.0,45.0,1.0,59.0,43.0,46.0,45.0,47.0,241.0,9.142857
3,1.0,6.0,3.0,1.0,1.0,1.0,1.0,15.0,180.0,0.0,61.0,60.0,60.0,67.0,63.0,310.0,28.857143
4,1.0,15.0,2.0,1.0,1.0,0.0,1.0,15.0,120.0,0.0,56.0,51.0,48.0,49.0,56.0,257.0,20.000000

## Las caracter√≠sticas m√°s relevantes que definen el Puntaje Global

In [30]:
caracMas = 0.18728447+0.28848305+0.14975825+0.13095147
print(caracMas*100)

75.647724

## Las caracter√≠sticas como :
- Estrato
- Internet
- Lectura
- Situaci√≥n Econ√≥mica

### La importancia de estas caracter√≠sticas en el puntaje global constituye el 75.657%