# ANÁLISIS DE DATOS

In [7]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
xEntrenamiento = pd.read_csv('Entrenamiento/xEntrenamiento')
yEntrenamiento = pd.read_csv('Entrenamiento/yEntrenamiento')
#-----------------------------------------------------------

#----------------------------------------------------------

xPrueba = pd.read_csv('Prueba/xPrueba')
yPrueba = pd.read_csv('Prueba/yPrueba')

In [ ]:
pd.plotting.scatter_matrix(xEntrenamiento, figsize=(10,10));

In [12]:
for i in np.unique(xPrueba['ESTU_GENERO']):
    print i, np.sum(xPrueba['ESTU_GENERO']==i)

0 218906
1 176874

In [12]:
seis

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET
1,1,13,1,1,0,2,45,45
2,1,31,2,0,0,2,15,45
9,1,11,2,0,0,2,15,0
13,1,4,1,1,1,2,120,120
14,1,5,3,1,1,2,45,180
15,1,13,3,1,1,2,90,180
21,0,19,6,1,1,2,120,15
30,1,13,2,1,1,2,45,180
33,1,15,3,1,1,2,15,180
38,1,4,1,1,1,2,45,45
45,1,13,2,0,0,2,15,15
73,1,5,3,1,1,2,15,120
74,1,14,4,1,1,2,90,120
82,1,31,2,0,0,2,15,45
89,1,4,2,1,1,2,45,180
91,1,14,2,1,1,2,15,180
98,1,15,4,1,1,2,45,120
99,1,17,3,0,1,2,15,180
100,1,20,3,1,1,2,45,45
101,1,5,1,1,1,2,90,120
105,0,19,2,0,0,2,15,0
107,1,13,2,1,1,2,45,120
114,1,19,2,1,1,2,0,120
122,1,13,4,0,0,2,15,45
129,1,4,1,1,0,2,15,120
133,1,2,1,0,1,2,0,120
143,1,5,3,1,1,2,45,45
145,1,26,2,0,1,2,120,180
146,1,11,1,0,0,2,0,0
151,1,11,2,0,0,2,45,15
...,...,...,...,...,...,...,...,...
99878,0,15,3,1,1,2,45,180
99883,0,10,1,0,0,2,45,15
99888,0,15,2,1,1,2,45,120
99891,0,5,3,0,0,2,15,45
99900,0,15,4,1,1,2,0,180
99903,0,18,2,0,0,2,15,15
99905,0,2,3,1,1,2,45,120
99910,0,31,4,1,1,2,90,180
99911,0,7,2,1,1,2,90,180
99913,0,10,3,1,1,2,45,120
99917,0,18,3,1,1,2,45,45
99918,0,14,2,1,1,2,90,45
99921,0,20,5,1,1,2,120,180
99922,0,28,2,1,1,2,0,180
99928,0,15,2,1,1,2,15,120
99929,0,2,2,0,0,2,15,120
99938,0,19,2,1,1,2,120,180
99939,0,5,3,1,1,2,45,15
99945,0,11,1,0,1,2,90,0
99953,0,31,2,1,1,2,0,180
99956,0,2,2,1,1,2,15,45
99957,0,7,5,1,1,2,15,120
99960,0,2,1,1,1,2,15,180
99965,0,7,3,1,0,2,45,180
99969,0,6,2,1,1,2,15,120
99970,0,15,1,0,1,2,0,45
99977,0,13,6,0,0,2,45,0
99983,0,22,1,0,0,2,45,120
99984,0,11,1,0,0,2,90,120
99996,0,22,1,0,1,2,45,15