# ANÁLISIS DE DATOS

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

%matplotlib inline

In [17]:
datos = pd.read_csv("Datos/datos")
datos.head()

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,1,4,2,1,1,0,1,15,180,0,63,69,54,57,65.0,305
1,1,13,1,1,1,0,2,45,45,0,54,50,50,40,48.0,242
2,1,31,2,0,0,0,2,15,45,1,59,43,46,45,47.0,241
3,1,6,3,1,1,1,1,15,180,0,61,60,60,67,63.0,310
4,1,15,2,1,1,0,1,15,120,0,56,51,48,49,56.0,257

## Cantidad total de hombres y mujeres que presentaron la prueba

In [19]:
for i in np.unique(datos['ESTU_GENERO']):
    print i, np.sum(datos['ESTU_GENERO']==i)

0 267840
1 227016

## Cantidad total de estudiantes por departamento

In [23]:
lista = {i: np.sum(datos['ESTU_DEPTO_RESIDE']==i) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}
dt = pd.DataFrame.from_dict(lista, orient='Index')
dt.head()

       0
1    815
2  66527
3   3008
4  27891
5  22070

## Cuantificando si tiene servicio de internet

In [25]:
for i in np.unique(datos['FAMI_TIENEINTERNET']):
    print i, np.sum(datos['FAMI_TIENEINTERNET']==i)

0 203976
1 290880

## Cuantificando si tienen computador

In [26]:
for i in np.unique(datos['FAMI_TIENECOMPUTADOR']):
    print i, np.sum(datos['FAMI_TIENECOMPUTADOR']==i)

0 205840
1 289016

## Cuantificando la dedicación media a navegar por internet (en minutos)

In [27]:
for i in np.unique(datos['ESTU_DEDICACIONINTERNET']):
    print i, np.sum(datos['ESTU_DEDICACIONINTERNET']==i)

0 31263
15 93078
45 129677
120 144809
180 96029

## Cuantificando la dedicación media dedicación lectura diaria (en minutos)

In [29]:
for i in np.unique(datos['ESTU_DEDICACIONLECTURADIARIA']):
    print i, np.sum(datos['ESTU_DEDICACIONLECTURADIARIA']==i)

0 88708
15 193195
45 137200
90 55526
120 20227

## Cuantificando la cantidad de estudiantes que viven en zonas rurales o urbanas

In [31]:
for i in np.unique(datos['COLE_AREA_UBICACION']):
    print i, np.sum(datos['COLE_AREA_UBICACION']==i)

0 13820
1 164238
2 182769
3 100969
4 22718
5 7092
6 3250

## Cuantificando la cantidad de estudiantes que viven en los diferentes estratos sociales

In [32]:
for i in np.unique(datos['FAMI_ESTRATOVIVIENDA']):
    print i, np.sum(datos['FAMI_ESTRATOVIVIENDA']==i)

0 13820
1 164238
2 182769
3 100969
4 22718
5 7092
6 3250