# AN√ÅLISIS DE DATOS

In [48]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

%matplotlib inline

In [49]:
datos = pd.read_csv("Datos/datos")
print datos.shape
datos.head()

(494856, 16)

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENESERVICIOTV,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET,COLE_AREA_UBICACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,1,4,2,1,1,0,1,15,180,0,63,69,54,57,65.0,305
1,1,13,1,1,1,0,2,45,45,0,54,50,50,40,48.0,242
2,1,31,2,0,0,0,2,15,45,1,59,43,46,45,47.0,241
3,1,6,3,1,1,1,1,15,180,0,61,60,60,67,63.0,310
4,1,15,2,1,1,0,1,15,120,0,56,51,48,49,56.0,257

## Cantidad total de hombres y mujeres que presentaron la prueba

In [50]:
for i in np.unique(datos['ESTU_GENERO']):
    print i, np.sum(datos['ESTU_GENERO']==i)

0 267840
1 227016

## Cantidad total de estudiantes por departamento

In [51]:
lista = {i: np.sum(datos['ESTU_DEPTO_RESIDE']==i) for i in np.unique(datos['ESTU_DEPTO_RESIDE'])}
dt = pd.DataFrame.from_dict(lista, orient='Index')
dt.head()

       0
1    815
2  66527
3   3008
4  27891
5  22070

## Cuantificando si tiene servicio de internet

In [52]:
for i in np.unique(datos['FAMI_TIENEINTERNET']):
    print i, np.sum(datos['FAMI_TIENEINTERNET']==i)

0 203976
1 290880

## Cuantificando si tienen computador

In [53]:
for i in np.unique(datos['FAMI_TIENECOMPUTADOR']):
    print i, np.sum(datos['FAMI_TIENECOMPUTADOR']==i)

0 205840
1 289016

## Cuantificando la dedicaci√≥n media a navegar por internet (en minutos)

In [54]:
for i in np.unique(datos['ESTU_DEDICACIONINTERNET']):
    print i, np.sum(datos['ESTU_DEDICACIONINTERNET']==i)

0 31263
15 93078
45 129677
120 144809
180 96029

## Cuantificando la dedicaci√≥n media dedicaci√≥n lectura diaria (en minutos)

In [55]:
for i in np.unique(datos['ESTU_DEDICACIONLECTURADIARIA']):
    print i, np.sum(datos['ESTU_DEDICACIONLECTURADIARIA']==i)

0 88708
15 193195
45 137200
90 55526
120 20227

## Cuantificando la cantidad de estudiantes que viven en zonas rurales o urbanas

In [56]:
for i in np.unique(datos['COLE_AREA_UBICACION']):
    print i, np.sum(datos['COLE_AREA_UBICACION']==i)

0 420189
1 74667

## Cuantificando la cantidad de estudiantes que viven en los diferentes estratos sociales

In [57]:
for i in np.unique(datos['FAMI_ESTRATOVIVIENDA']):
    print i, np.sum(datos['FAMI_ESTRATOVIVIENDA']==i)

0 13820
1 164238
2 182769
3 100969
4 22718
5 7092
6 3250

## Calculando el Factor Social para cada estudiante

In [58]:
media = np.mean(datos.values[:, 2:9], axis=1)
media = np.reshape(media, (494856,1))
datos = np.concatenate((datos,media), axis=1)

In [59]:
datos = pd.DataFrame(data=datos)
datos.columns = ['ESTU_GENERO','ESTU_DEPTO_RESIDE','FAMI_ESTRATOVIVIENDA','FAMI_TIENEINTERNET', 'FAMI_TIENESERVICIOTV' ,'FAMI_TIENECOMPUTADOR','FAMI_SITUACIONECONOMICA','ESTU_DEDICACIONLECTURADIARIA','ESTU_DEDICACIONINTERNET', 'COLE_AREA_UBICACION', 'PUNT_LECTURA_CRITICA','PUNT_MATEMATICAS','PUNT_C_NATURALES','PUNT_SOCIALES_CIUDADANAS','PUNT_INGLES','PUNT_GLOBAL', 'FACTOR_SOCIAL']

## El rango del puntaje del factor social (media entre los diferentes valores sociales)  $[0 - 44.4285]$

In [60]:
np.amax(datos)

ESTU_GENERO                       1.000000
ESTU_DEPTO_RESIDE                33.000000
FAMI_ESTRATOVIVIENDA              6.000000
FAMI_TIENEINTERNET                1.000000
FAMI_TIENESERVICIOTV              1.000000
FAMI_TIENECOMPUTADOR              1.000000
FAMI_SITUACIONECONOMICA           2.000000
ESTU_DEDICACIONLECTURADIARIA    120.000000
ESTU_DEDICACIONINTERNET         180.000000
COLE_AREA_UBICACION               1.000000
PUNT_LECTURA_CRITICA            100.000000
PUNT_MATEMATICAS                100.000000
PUNT_C_NATURALES                100.000000
PUNT_SOCIALES_CIUDADANAS        100.000000
PUNT_INGLES                     100.000000
PUNT_GLOBAL                     478.000000
FACTOR_SOCIAL                    44.428571
dtype: float64

## ¬øQu√© hay de los estudiantes con el factor social m√°s alto?

In [70]:
alto = datos.loc[datos['FACTOR_SOCIAL']>40] 
print (alto.shape)
print "Media Punt Global de estudiantes con factor social alto :", np.mean(alto['PUNT_GLOBAL']) , "Desv Est", np.std(alto['PUNT_GLOBAL'])
relacion = (6167.00/494856.0)*100
print relacion , " % de la muestra total"

(6167, 17)
Media Punt Global de estudiantes con factor social alto : 278.50251337765525 Desv Est 49.907785422057884
1.24622112291  % de la muestra total

## ¬øQu√© hay de los estudiantes con el factor social m√°s bajos?

In [79]:
bajo = datos.loc[datos['FACTOR_SOCIAL']<10]
print bajo.shape
print ("Media de punt global de los estudiantes con factor social bajo: ", np.mean(bajo['PUNT_GLOBAL']), np.std(bajo['PUNT_GLOBAL']))
relacion2 = (187580.0/494856)*100
print relacion2 , " % de la muestra total "

(187580, 17)
('Media de punt global de los estudiantes con factor social bajo: ', 238.09107047659666, 45.18737035163135)
37.9059766882  % de la muestra total

## ¬øEl impacto del Internet es de relevancia para el puntaje global?

In [75]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

internet = datos.loc[datos['FAMI_TIENEINTERNET']==1][:203976]
nInternet = datos.loc[datos['FAMI_TIENEINTERNET']==0][:203976]

print "Media Punt Global Si",np.mean(internet['PUNT_GLOBAL']), "Desv Est: ",np.std(internet['PUNT_GLOBAL'])
print "Media Punt Global No",np.mean(nInternet['PUNT_GLOBAL']),"Desv Est: " ,np.std(nInternet['PUNT_GLOBAL'])

Media Punt Global Si 264.98508648076245 Desv Est:  50.03219982472944
Media Punt Global No 236.04294132643057 Desv Est:  43.66681008681343

## ¬øLa situaci√≥n econ√≥mica puede influir positiva o negativamente?

In [76]:
# -------------------- La misma cantidad para no alterar la medici√≥n -----------------

mejor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==2][:68678]
regular = datos.loc[datos['FAMI_SITUACIONECONOMICA']==1][:68678]
peor = datos.loc[datos['FAMI_SITUACIONECONOMICA']==0][:68678]

print "Media Punt Global Mejor",np.mean(mejor['PUNT_GLOBAL']), "Desv Est: ",np.std(mejor['PUNT_GLOBAL'])
print "Media Punt Global Regular",np.mean(regular['PUNT_GLOBAL']), "Desv Est: ",np.std(regular['PUNT_GLOBAL'])
print "Media Punt Global Peor",np.mean(peor['PUNT_GLOBAL']), "Desv Est: ",np.std(peor['PUNT_GLOBAL'])

Media Punt Global Mejor 245.98916683654153 Desv Est:  50.28111138307171
Media Punt Global Regular 255.7744547016512 Desv Est:  48.90702107862969
Media Punt Global Peor 261.94603803255774 Desv Est:  50.01625875274798