# Proyecto IA 
**Proyecto enfocado a la predicción de puntajes Saber 11 , tomando como referencia factores sociales cuantitativos relevantes y determinantes.
Los datos son proporcionados por la plataforma www.datos.gov.co. A través del siguiente enlace podrá exportar el archivo en formato CSV https://www.datos.gov.co/Educaci-n/Saber-11-2018-2/m2nt-jw2h**

_La modificación de los datos es necesaria. Se realizaron cambios en los campos por valores numéricos totalmente relacionados con los valores de las características:_

1. Los valores del campo ESTU_GENERO han sido reemplazados por 0 (femenino) y 1 (masculino).
2. Los valores del campo ESTU_DEPTO_RESIDE han sido reemplazados por valores numéricos con respecto al orden alfabético de los nombres de los departamentos
3. FAMI_ESTRATOVIVIENDA: 0 (Sin estrato),...,6 (Estrato 6)
4. FAMI_TIENEINTERNET: Si (1), No (0)
5. FAMI_TIENECOMPUTADOR: Si (1), No (0)
6. FAMI_SITUACIONECONOMICA: Peor (0), Igual(1), Mejor(2)

_Los siguientes valores (medido en minutos) corresponden a la media de los extremos de los rangos otorgados por el archivo:_

1. ESTU_DEDICACIONLECTURADIARIA: 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 2 horas (120), No lee por entretenimiento (0)
2. ESTU_DEDICACIONINTERNET: No navega (0), 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 3 horas (180)

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.metrics import *

%matplotlib inline

In [43]:
xEntrenamiento = pd.read_csv('Entrenamiento/xEntrenamiento')
yEntrenamiento = pd.read_csv('Entrenamiento/yEntrenamiento')
#-----------------------------------------------------------

xPrueba = pd.read_csv('Prueba/xPrueba')
yPrueba = pd.read_csv('Prueba/yPrueba')


xEntrenamiento = xEntrenamiento.values[0:5000]
yEntrenamiento = yEntrenamiento.values[0:5000]

xPrueba = xPrueba[0:5000]

In [44]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

estimador = DecisionTreeRegressor()
estimador.fit(xEntrenamiento, yEntrenamiento)
s = cross_val_score(estimador, xEntrenamiento, yEntrenamiento, cv=KFold(10, shuffle=True), scoring=make_scorer(mean_squared_error))
print "MSE %.3f (+/- %.5f)"%(np.mean(s), np.std(s))

MSE 763.966 (+/- 49.61287)

In [47]:
 resp = estimador.predict(xPrueba)
xPrueba[0:10]

,ESTU_GENERO,ESTU_DEPTO_RESIDE,FAMI_ESTRATOVIVIENDA,FAMI_TIENEINTERNET,FAMI_TIENECOMPUTADOR,FAMI_SITUACIONECONOMICA,ESTU_DEDICACIONLECTURADIARIA,ESTU_DEDICACIONINTERNET
0,0,28,1,1,0,0,90,180
1,0,31,1,0,0,1,15,120
2,0,21,3,0,1,1,0,180
3,0,15,2,1,1,1,45,120
4,0,22,2,0,0,0,0,0
5,0,2,2,1,1,1,0,45
6,0,8,0,1,0,2,15,120
7,0,14,2,1,1,0,15,45
8,1,15,2,1,0,1,15,45
9,1,31,2,1,1,1,15,120

In [46]:
pd.DataFrame(data=resp)

              0          1          2          3          4           5
0     65.000000  32.000000  42.000000  42.000000  30.000000  220.000000
1     57.000000  56.000000  53.000000  49.000000  50.000000  267.000000
2     54.000000  54.000000  56.000000  55.000000  45.000000  270.000000
3     57.250000  55.625000  57.250000  54.750000  56.375000  281.125000
4     40.000000  41.000000  40.000000  37.000000  43.000000  199.000000
5     32.000000  28.000000  31.000000  39.000000  29.000000  161.000000
6     29.000000  27.000000  37.000000  35.000000  36.000000  162.000000
7     53.000000  54.000000  51.500000  43.500000  62.000000  256.500000
8     49.000000  36.000000  40.000000  40.000000  36.000000  204.000000
9     56.500000  46.000000  44.000000  48.000000  53.500000  245.000000
10    62.000000  68.000000  66.000000  58.000000  57.000000  315.000000
11    49.500000  53.500000  55.000000  43.500000  44.000000  249.500000
12    39.000000  45.500000  38.000000  38.000000  41.500000  201.000000
13    59.500000  63.500000  60.500000  59.000000  59.500000  302.500000
14    36.000000  40.000000  45.000000  32.000000  39.000000  192.000000
15    56.000000  46.000000  46.000000  40.000000  42.000000  233.000000
16    65.000000  56.000000  48.000000  57.000000  51.000000  280.000000
17    48.500000  45.000000  48.500000  39.500000  34.500000  222.500000
18    39.000000  48.500000  38.000000  40.000000  44.000000  208.000000
19    56.000000  50.666667  51.000000  50.000000  52.333333  259.666667
20    53.000000  38.000000  42.000000  52.000000  51.000000  233.000000
21    54.500000  53.500000  54.500000  58.000000  60.000000  277.500000
22    45.500000  47.500000  43.000000  42.500000  39.000000  221.000000
23    55.600000  48.400000  51.600000  48.200000  55.200000  256.400000
24    58.000000  51.000000  58.000000  54.000000  53.000000  275.000000
25    41.500000  38.000000  36.500000  38.000000  38.000000  192.500000
26    47.000000  39.000000  45.000000  32.000000  43.000000  205.000000
27    46.000000  39.500000  44.000000  47.000000  46.000000  221.500000
28    50.000000  54.000000  58.000000  50.000000  58.000000  267.000000
29    56.000000  56.000000  62.000000  51.000000  55.000000  281.000000
...         ...        ...        ...        ...        ...         ...
4970  58.000000  63.000000  68.000000  63.000000  65.000000  316.000000
4971  61.750000  59.000000  61.750000  59.750000  62.000000  303.250000
4972  63.400000  59.200000  62.400000  62.000000  66.200000  310.600000
4973  59.666667  54.666667  56.666667  55.666667  66.333333  287.000000
4974  67.000000  73.500000  70.000000  68.500000  70.000000  349.000000
4975  51.000000  54.000000  59.000000  59.000000  71.000000  285.000000
4976  56.000000  52.000000  44.000000  53.000000  41.000000  252.000000
4977  67.000000  53.000000  59.000000  58.000000  53.000000  294.000000
4978  58.000000  56.000000  51.000000  53.000000  43.000000  268.000000
4979  44.000000  51.000000  39.000000  44.000000  48.000000  224.000000
4980  50.000000  51.000000  50.000000  37.000000  46.000000  235.000000
4981  48.000000  50.000000  47.000000  55.000000  48.000000  249.000000
4982  54.750000  51.250000  51.250000  56.000000  53.750000  266.750000
4983  58.000000  56.000000  48.000000  44.000000  65.000000  263.000000
4984  58.000000  56.000000  48.000000  44.000000  65.000000  263.000000
4985  56.000000  59.000000  54.500000  57.000000  60.000000  284.500000
4986  38.000000  36.000000  33.000000  49.000000  38.000000  195.000000
4987  55.000000  58.666667  56.666667  52.666667  54.666667  278.666667
4988  68.000000  65.000000  67.000000  72.000000  85.000000  347.000000
4989  49.000000  61.000000  65.000000  65.000000  66.000000  302.000000
4990  60.000000  57.000000  44.000000  48.000000  54.000000  262.000000
4991  64.000000  64.000000  62.000000  62.000000  61.000000  314.500000
4992  42.000000  43.000000  45.000000  42.000000  49.000000  217.000000
4993  36.000000  41.000000  37.500000  36.500000  45.500000  192.000000
4994  46.500000  41.000000  47.500000  42.000000  49.500000  223.000000
4995  58.000000  47.000000  53.000000  55.333333  63.333333  270.666667
4996  38.000000  45.000000  42.000000  36.000000  44.000000  203.000000
4997  64.000000  69.000000  66.000000  64.000000  42.000000  320.000000
4998  44.000000  51.000000  44.000000  46.000000  53.000000  234.000000
4999  69.000000  72.000000  70.000000  66.000000  76.000000  349.000000

[5000 rows x 6 columns]