# Proyecto IA 
**Proyecto enfocado a la predicción de puntajes Saber 11 , tomando como referencia factores sociales cuantitativos relevantes y determinantes.
Los datos son proporcionados por la plataforma www.datos.gov.co. A través del siguiente enlace podrá exportar el archivo en formato CSV https://www.datos.gov.co/Educaci-n/Saber-11-2018-2/m2nt-jw2h**

_La modificación de los datos es necesaria. Se realizaron cambios en los campos por valores numéricos totalmente relacionados con los valores de las características:_

1. Los valores del campo ESTU_GENERO han sido reemplazados por 0 (femenino) y 1 (masculino).
2. Los valores del campo ESTU_DEPTO_RESIDE han sido reemplazados por valores numéricos con respecto al orden alfabético de los nombres de los departamentos
3. FAMI_ESTRATOVIVIENDA: 0 (Sin estrato),...,6 (Estrato 6)
4. FAMI_TIENEINTERNET: Si (1), No (0)
5. FAMI_TIENECOMPUTADOR: Si (1), No (0)
6. FAMI_SITUACIONECONOMICA: Peor (0), Igual(1), Mejor(2)

_Los siguientes valores (medido en minutos) corresponden a la media de los extremos de los rangos otorgados por el archivo:_

1. ESTU_DEDICACIONLECTURADIARIA: 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 2 horas (120), No lee por entretenimiento (0)
2. ESTU_DEDICACIONINTERNET: No navega (0), 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 3 horas (180)

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.metrics import *

%matplotlib inline

In [42]:
xEntrenamiento = pd.read_csv('Entrenamiento/xEntrenamiento')
yEntrenamiento = pd.read_csv('Entrenamiento/yEntrenamiento')
#-----------------------------------------------------------

xEntrenamiento = xEntrenamiento.values[0:5000]
yEntrenamiento = yEntrenamiento.values[0:5000]


#----------------------------------------------------------

xPrueba = pd.read_csv('Prueba/xPrueba')
yPrueba = pd.read_csv('Prueba/yPrueba')
yPrueba= yPrueba.values[0:5000]

In [44]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

estimador = LinearRegression()
estimador = estimador.fit(yEntrenamiento[:,:-1], yEntrenamiento[:,-1])
resp = estimador.predict(yPrueba[:,:-1])

In [46]:
pd.DataFrame(data=resp).head()

            0
0  247.705662
1  237.690546
2  263.456509
3  219.635291
4  277.699913

In [49]:
pd.DataFrame(data=yPrueba[:,:-1]).head()

      0     1     2     3     4
0  49.0  52.0  47.0  48.0  56.0
1  53.0  52.0  45.0  41.0  45.0
2  59.0  51.0  54.0  47.0  52.0
3  49.0  43.0  36.0  45.0  52.0
4  52.0  62.0  54.0  52.0  62.0