# Proyecto IA 
**Proyecto enfocado a la predicción de puntajes Saber 11 , tomando como referencia factores sociales cuantitativos relevantes y determinantes.
Los datos son proporcionados por la plataforma www.datos.gov.co. A través del siguiente enlace podrá exportar el archivo en formato CSV https://www.datos.gov.co/Educaci-n/Saber-11-2018-2/m2nt-jw2h**

_La modificación de los datos es necesaria. Se realizaron cambios en los campos por valores numéricos totalmente relacionados con los valores de las características:_

1. Los valores del campo ESTU_GENERO han sido reemplazados por 0 (femenino) y 1 (masculino).
2. Los valores del campo ESTU_DEPTO_RESIDE han sido reemplazados por valores numéricos con respecto al orden alfabético de los nombres de los departamentos
3. FAMI_ESTRATOVIVIENDA: 0 (Sin estrato),...,6 (Estrato 6)
4. FAMI_TIENEINTERNET: Si (1), No (0)
5. FAMI_TIENECOMPUTADOR: Si (1), No (0)
6. FAMI_SITUACIONECONOMICA: Peor (0), Igual(1), Mejor(2)

_Los siguientes valores (medido en minutos) corresponden a la media de los extremos de los rangos otorgados por el archivo:_

1. ESTU_DEDICACIONLECTURADIARIA: 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 2 horas (120), No lee por entretenimiento (0)
2. ESTU_DEDICACIONINTERNET: No navega (0), 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 3 horas (180)

_Además de añadir el "factor social" que radica en un puntaje dado por la media de cada una de las características a excepción del género y el departamento donde reside. Deducimos que esta representación aproximada se correlacione con los puntajes obtenidos en las pruebas saber 11 2018_

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.metrics import *

%matplotlib inline

In [18]:
xEntrenamiento = pd.read_csv('Entrenamiento/xEntrenamiento')
yEntrenamiento = pd.read_csv('Entrenamiento/yEntrenamiento')
#-----------------------------------------------------------


#----------------------------------------------------------

xPrueba = pd.read_csv('Prueba/xPrueba')
yPrueba = pd.read_csv('Prueba/yPrueba')

yEntrenamiento.head()

,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_GLOBAL
0,63,69,54,57,65.0,305
1,54,50,50,40,48.0,242
2,59,43,46,45,47.0,241
3,61,60,60,67,63.0,310
4,56,51,48,49,56.0,257

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

estimador = LinearRegression()
estimador.fit(xEntrenamiento[:70000], yEntrenamiento[:70000])

error = cross_val_score(estimador, xEntrenamiento[:70000], yEntrenamiento[:70000], cv=KFold(200, shuffle=True), scoring=make_scorer(mean_squared_error))
print "Error cuadratico medio", np.mean(error)

Error cuadratico medio 469.298767081

In [22]:
pd.DataFrame(data=estimador.predict(xPrueba))

                0          1          2          3          4           5
0       51.248567  50.275416  49.111879  47.189753  49.221625  247.195714
1       53.904562  52.914047  51.681220  50.135027  52.553664  260.947267
2       54.896714  53.887855  52.628013  51.236031  53.801073  266.057517
3       53.459804  52.477512  51.256795  49.641473  51.994481  258.656464
4       48.845839  47.504466  46.366980  44.550969  46.295336  233.891928
5       53.870350  52.880467  51.648571  50.097061  52.510650  260.771051
6       51.304438  50.361997  49.199967  47.249635  49.284594  247.554885
7       57.261785  56.717070  55.441288  53.826667  56.658184  279.381524
8       58.488991  57.413714  56.056060  55.222428  58.317551  284.560150
9       50.896108  50.215152  49.088469  46.779549  48.712995  246.022866
10      54.018521  53.343319  52.137675  50.240293  52.624172  262.248176
11      51.282779  50.308996  49.144527  47.227719  49.264639  247.371930
12      50.408031  49.672615  48.553164  46.242163  48.113902  243.366152
13      55.923079  54.895243  53.607455  52.375002  55.091495  271.343984
14      55.901419  54.842242  53.552015  52.353085  55.071540  271.161028
15      54.828290  53.820696  52.562717  51.160100  53.715044  265.705086
16      49.002766  45.760520  45.677496  43.846005  45.761676  230.241865
17      54.327309  51.018360  50.793386  49.752602  52.448814  257.738230
18      51.364634  47.729557  47.548910  46.490318  48.811241  241.621735
19      54.080054  53.594167  52.405018  50.295859  52.657874  262.993478
20      52.960053  49.327220  49.106161  48.258655  50.809843  249.910606
21      56.862805  55.690627  54.365137  53.426307  56.302097  275.898628
22      51.019418  49.764826  48.580271  46.954541  48.999015  245.372898
23      56.785274  55.551045  54.221610  53.344509  56.219173  275.356501
24      55.212501  54.610449  53.381380  51.558909  54.103502  268.612156
25      52.504080  51.793394  50.622928  48.563936  50.734657  254.304996
26      50.920228  49.572243  48.381303  46.850826  48.896136  244.647816
27      51.560908  51.089854  49.966270  47.502448  49.497891  249.946788
28      51.304438  50.361997  49.199967  47.249635  49.284594  247.554885
29      55.005012  54.152861  52.905213  51.345613  53.900848  266.972295
...           ...        ...        ...        ...        ...         ...
297439  50.111093  47.419712  47.361024  45.037778  47.024162  237.235592
297440  51.869695  48.764895  48.621981  47.014758  49.322533  245.436842
297441  54.255439  51.043045  50.829114  49.666488  52.336622  257.582235
297442  53.488989  50.671670  50.514951  48.790514  51.285660  254.491236
297443  50.735033  47.492501  47.365339  45.766206  47.932335  239.235598
297444  48.863701  45.370090  45.266625  43.708641  45.645050  228.954436
297445  50.765800  47.617925  47.499011  45.793989  47.949186  239.608249
297446  53.952205  50.301029  50.052955  49.359660  52.057252  255.020857
297447  56.667869  55.213617  53.866178  53.229060  56.122502  274.252027
297448  49.766756  46.827805  46.754265  44.672619  46.649452  234.890870
297449  50.700821  47.458921  47.332691  45.728240  47.889321  239.059383
297450  49.881945  46.909122  46.829417  44.802566  46.801553  235.412776
297451  54.116375  50.652615  50.418242  49.529123  52.219996  256.294806
297452  52.985158  49.288377  49.060577  48.290754  50.855962  249.897126
297453  49.745096  46.774803  46.698825  44.650703  46.629497  234.707914
297454  51.940336  49.088165  48.967556  47.076191  49.353131  246.371840
297455  51.933688  48.319832  48.126719  47.119685  49.519421  244.624139
297456  53.232520  49.943812  49.748648  48.537700  51.072363  252.099333
297457  51.523142  47.916877  47.734942  46.664097  49.003252  242.509553
297458  50.475118  46.856488  46.700060  45.503210  47.692875  237.040131
297459  49.127062  45.914260  45.830880  43.981819  45.910673  230.953467
297460  53.108224  49.790072  49.595264  48.401887  50.923366  251.387731
297461  59.041695  55.836033  55.500866  54.971501  58.332431  282.448847
297462  48.897914  45.403670  45.299273  43.746606  45.688064  229.130652
297463  49.875054  47.092810  47.031464  44.782201  46.749227  235.805648
297464  51.906123  49.054585  48.934908  47.038225  49.310117  246.195625
297465  51.377187  47.710136  47.526118  46.506367  48.834300  241.614995
297466  56.488687  55.577362  54.286288  52.994187  55.773512  274.542824
297467  49.479872  48.253744  47.111108  45.246085  47.063382  237.443199
297468  56.584081  53.582569  53.329461  52.233657  55.206150  270.147459

[297469 rows x 6 columns]

In [49]:
pd.DataFrame(data=yPrueba[:,:-1]).head()

      0     1     2     3     4
0  49.0  52.0  47.0  48.0  56.0
1  53.0  52.0  45.0  41.0  45.0
2  59.0  51.0  54.0  47.0  52.0
3  49.0  43.0  36.0  45.0  52.0
4  52.0  62.0  54.0  52.0  62.0