# Proyecto IA 
**Proyecto enfocado a la predicción de puntajes Saber 11 , tomando como referencia factores sociales cuantitativos relevantes y determinantes.
Los datos son proporcionados por la plataforma www.datos.gov.co. A través del siguiente enlace podrá exportar el archivo en formato CSV https://www.datos.gov.co/Educaci-n/Saber-11-2018-2/m2nt-jw2h**

_La modificación de los datos es necesaria. Se realizaron cambios en los campos por valores numéricos totalmente relacionados con los valores de las características:_

1. Los valores del campo ESTU_GENERO han sido reemplazados por 0 (femenino) y 1 (masculino).
2. Los valores del campo ESTU_DEPTO_RESIDE han sido reemplazados por valores numéricos con respecto al orden alfabético de los nombres de los departamentos
3. FAMI_ESTRATOVIVIENDA: 0 (Sin estrato),...,6 (Estrato 6)
4. FAMI_TIENEINTERNET: Si (1), No (0)
5. FAMI_TIENECOMPUTADOR: Si (1), No (0)
6. FAMI_SITUACIONECONOMICA: Peor (0), Igual(1), Mejor(2)

_Los siguientes valores (medido en minutos) corresponden a la media de los extremos de los rangos otorgados por el archivo:_

1. ESTU_DEDICACIONLECTURADIARIA: 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 2 horas (120), No lee por entretenimiento (0)
2. ESTU_DEDICACIONINTERNET: No navega (0), 30 minutos o menos (15), Entre 30 y 60 minutos (45), Entre 1 y 3 horas (120), Mas de 3 horas (180)

_Además de añadir el "factor social" que radica en un puntaje dado por la media de cada una de las características a excepción del género y el departamento donde reside. Deducimos que esta representación aproximada se correlacione con los puntajes obtenidos en las pruebas saber 11 2018-2.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.metrics import *

%matplotlib inline

In [3]:
xEntrenamiento = pd.read_csv('Entrenamiento/xEntrenamiento')
yEntrenamiento = pd.read_csv('Entrenamiento/yEntrenamiento')
#-----------------------------------------------------------


#----------------------------------------------------------

xPrueba = pd.read_csv('Prueba/xPrueba')
yPrueba = pd.read_csv('Prueba/yPrueba')

## Una Regresión simple

In [4]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

estimador = LinearRegression()
estimador.fit(xEntrenamiento[:70000], yEntrenamiento[:70000])

error = cross_val_score(estimador, xEntrenamiento[:70000], yEntrenamiento[:70000], cv=KFold(10, shuffle=True), scoring=make_scorer(mean_squared_error))

print "Error medio", np.mean(error)

Error medio 469.3705044047456

In [5]:
pd.DataFrame(data=estimador.predict(xPrueba[:7000])).head()

           0          1          2          3          4           5
0  54.637224  53.349638  52.065787  50.967889  53.541718  264.080443
1  49.354487  48.738975  47.656408  45.061713  46.766357  238.158963
2  51.257357  50.287629  49.121504  47.197204  49.231871  247.243775
3  53.908063  52.921012  51.685429  50.137749  52.560221  260.969957
4  54.864166  53.859364  52.597594  51.199223  53.763313  265.895085